@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.header-container {
  padding: 0;
  margin: 0;
  position: relative; /* Make the container positioned */
}

.logo{
  width: 10vw;
  height: 10vh;
}

.home-img-container{
  display: flex;
  flex-wrap: wrap;
  width: 50vw;
  margin-top: 3vh;
}

.home-img-container2{
  display: flex;
  flex-wrap: wrap;
  width: 35vw;
}

.home-img-container3{
  display: flex;
  flex-wrap: wrap;
  width: 25vw;
}

.home-image{
  width: 20vw;
  height: 22vh;
  margin: 1vh;
}

.home-image2{
  width: 15vw;
  height: 35vh;
  margin: 1vh;
}

.home-image3{
  width: 16vw;
  height: 20vh;
  margin: 1vh;
}

.home-image4{
  width: 15vw;
  height: 42vh;
  margin: 1vh;
}

.home-image5{
  width: 24vw;
  height: 20vh;
  margin: 1vh;
}

.custom-image {
  width: 100%;
  height: 20vh;
  background-image: url('/navbar.jpg');
  background-size: cover; /* Ensure the image covers the entire container */
  clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 100%); /* Define a polygon clip path */
  transform: skewY(0deg); /* Skew the image */
  position: absolute; /* Position the image absolutely within its container */
  top: 0;
  left: 0;
}

.footer-image{
  width: 100%;
  height: 20vh;
  background-image: url('/navbar.jpg');
  background-size: full;
  position: absolute; 
  left: 0;
}

.text-container {
  position: relative; /* Ensure the text container stays on top of the image */
  z-index: 1; /* Set a higher z-index to make sure it's above the image */
  color: white; /* Set text color to white for better visibility */
  padding: 20px; /* Adjust padding as needed */
}

.colombo-text{
  display: flex;
  flex-direction: column;
}

.signup-image{
  margin-top: 5vh;
}

.signup-image2{
  margin-top: 18vh;
  width: 16vw;
  height: 50vh;
}

.login-image{
  margin-top: 15vh;
  height: 40vh;
}

.login-image2{
  margin-top: 15vh;
  height: 50vh;
  width: 16vw;
}


/* traveller */

.profile-image{
  margin: 3vh;
  border-radius: 50%;
  width: 10vw;
  height: 18vh;
}

.image-slider {
  width: 100%;
  margin-bottom: 10vh;
}

.slider-images {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

.image-container {
  position: relative;
  margin: 2vw;
}

.prev-image,
.next-image {
  width: 15vw; 
  height: 20vh;
}

.current-image {
  width: 18vw;
  height: 30vh; 
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 24px; 
  color: #fff; 
}

.left-arrow {
  left: -40px; 
}

.right-arrow {
  right: -40px;
}

.destination-image{
  width: 20vw;
  height: 55vh;
  margin-bottom: 2vw;
}

.destination-image2{
  width: 20vw;
  height: 50vh;
  /* margin-bottom: 2vw; */
}

.property-form-label{
  width: 18vw;
  height: 6vh;
  font-weight: bolder;
}

.property-form-dropdown{
  width: 25vw;
  height: 5vh;
  border-radius: 5px;
  background-color: #77A6AC;
}

.property-form-text{
  width: 25vw;
  height: 6vh;
  background-color: #77A6AC;
  border: none;
}

.property-form-textarea{
  /* width: 20vw;
  height: 6vh; */
  background-color: #77A6AC;
  border: none;
}

.category-image{
  width: 12vw;
  height: 20vh;
  margin-bottom: 2vh;
}

.booking-img{
  width: 20vw;
  height: 25vh;
  margin-right: 4vw;
}

.booking-img2{
  width: 20vw;
  height: 25vh;
  margin-left: 6vw;
}

/* reviews */

.profile-image2{
  /* margin: 3vh; */
  margin-left: 2vw;
  border-radius: 50%;
  width: 5vw;
  height: 10vh;
}

.search-bar{
  width: 15vw;
  border-radius: 15px;
  height: 5vh;
  display: flex;
  margin-top: 3vh;
}

.explore-tabs-content{
  margin: 2vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.explore-img{
  width: 15vw;
  height: 22vh;
}